[Unit]
Description=sdr-modem Service

[Service]
WorkingDirectory=/etc/sdr-modem
Environment="VOLK_CONFIGPATH=/etc/sdr-modem"
ExecStart=/usr/bin/sdr_modem /etc/sdr-modem/config.conf
Restart=always

[Install]
Alias=sdr-modem.service
WantedBy=multi-user.target