Source: sdr-modem
Maintainer: Andrey Rodionov <info@r2cloud.ru>
Section: comm
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9.0.0), dh-systemd, cmake, libvolk2-dev, libprotobuf-c-dev, libiio (>= 0.21), libconfig-dev, check, pkg-config
Homepage: https://github.com/dernasherbrezon/sdr-modem

Package: sdr-modem
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvolk2.4, libprotobuf-c, libconfig9
Description: Modem based on software defined radios
 SDR-agnostic GMSK modulator/demodulator